* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #c4c3c6;
}

.header #navbar{
	background-color:#2c2b2b;
	box-shadow:0px 1px 5px rgba(0,0,0,0.4);
	height:60px;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:100;

    transition: .3s;
}

.header #nav{
	height:60px;
	width:400px;
	margin: 0 auto;
}

.header #nav ul{position:relative;}

.header .nav-btn{
	width:99px;
	float:left;
	padding:24px 0;
	list-style:none;
	color:#c4c3c6;
	text-align:center;
	/* cursor:crosshair; */
	text-transform:uppercase;

	font-size:12px;
    font-family: sans-serif;
    font-weight: 700;

	color:#c4c3c6;
	
	border-left: 1px solid rgba(255,255,255,0.2);
	box-shadow: inset 1px 1px 0 rgba(0,0,0,0.5) ;
	
	text-shadow:rgba(0,0,0,0.8) 1px 1px 0px;
}

.header .nav-btn:first-child{
	border:none;
	box-shadow: none;
}

.header .nav-btn:hover {
	color:#FFF;
	background:#444;
    cursor: crosshair;
	box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
}

/*-----------------------------------------------------------------------*/

.oth-button {
    position: absolute;

    padding: 6px;
    /* margin: 0.3em; */

    background-color: #585858;
    color: #c4c3c6;
    cursor: crosshair;

	border: none;
    border-radius: 3px;

    font-family: sans-serif;
    font-weight: 700;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    text-transform: uppercase;

    transition: .3s;

    bottom: .1px;

    margin: .5rem;
}

.oth-button:hover {
    background-color: #2c2b2b;
}

.project {
    /* display: flex; */
}

.slideshow-container {
    /* max-width: 30rem; */
    position: relative;
    

    /* margin-left: 3rem; */
    /* margin-right: 3rem; */

    margin: auto;

    width: 100%;
    height: 40%;
}

.slide {
    display: none;
    background-color: #585858;
    padding: 1rem;

    box-shadow: 0px 2px #2c2b2b;
}

.activus {
    display: block;
}

.slide img {
    display: flex;
    /* max-width: 100%; */
    height: 100%;

    margin: auto;

    border-radius: 3px;

    /* padding: 1rem; */
}

.prev, .next {
    cursor: crosshair;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #d8d8d8;
    font-weight: bold;
    font-size: 18px;

    transition: 0.3s;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #2c2b2b;
}

.text {
    color: #d8d8d8;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #d8d8d8;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.fade {
    animation-name: fade;
    animation-duration: .3s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.about-project {
    border: 2px solid #2c2b2b;
    border-radius: 3px;

    margin-top: 4rem;
    margin-left: 10%;
    margin-right: 10%;
}

.about-project-text {
    position: relative;

    /* margin-top: 4rem; */

    font-family: sans-serif;
    font-size: 1em;

    /* margin-left: 10%; */
    /* margin-right: 10%; */

    padding: 3rem;
    /* border: 2px solid #2c2b2b; */
    border-radius: 3px;
}

#download-btn {
    display: flex;

    background-color: #585858;
    color: #d8d8d8;
    cursor: crosshair;

	border: none;
    border-radius: 3px;

    font-weight: 600;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    text-transform: uppercase;

    transition: .3s;
    padding: 6px;

    width: 7.2rem;

    text-decoration: none;
    margin: auto;
}

#download-btn:hover {
    background-color: #2c2b2b;
}

#download-btn p {
    float: right;
    font-family: sans-serif;
}