/*
#585858
#2c2b2b
#242323 - teksti, myös #d8d8d8
#c4c3c6 - tausta
#242c25
#0a0a2a 
*/

[data-theme="dark"] {
    --bg-color: #0a0a2a;
    --element-bg-color: #2c2b2b;
    --text-color: #d8d8d8;
    --text2-color: #c4c3c6;
    --shadow-color: #242323;
    --button-color: #585858;

    --nav-bar-border: rgba(255,255,255,0.2);
    --nav-bar-text-shadow: rgba(0,0,0,0.8);
}

[data-theme="light"] {
    --bg-color: #d8d8d8;
    --element-bg-color: #c4c3c6;
    --text-color: #2c2b2b;
    --text2-color: #242323;
    --shadow-color: #d4d4d4;

    --nav-bar-border: rgba(0,0,0,0.2);
    --nav-bar-text-shadow: rgba(180,180,180,0.8);
}

@font-face {
	font-family: 'Halo Dek';
	src: url('../res/Halo Dek.ttf');
	font-weight: normal;
	font-style: normal;
}

#newfont{
    font-family: 'Halo Dek';
}

* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: var(--bg-color);
}

.header #navbar{
	background-color: var(--element-bg-color);
	box-shadow:0px 1px 5px rgba(0,0,0,0.4);
	height:60px;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:100;

    transition: .3s;
}

.header #nav{
	height:60px;
	width:400px;
	margin: 0 auto;
}

.header #nav ul{position:relative;}

.header .nav-btn{
	width:99px;
	float:left;
	padding:24px 0;
	list-style:none;
	text-align:center;
	/* cursor:crosshair; */
	text-transform:uppercase;

	font-size:12px;
    font-family: sans-serif;
    font-weight: 700;

	color: var(--text-color);
	
	border-left: 1px solid var(--nav-bar-border);
	box-shadow: inset 1px rgba(0,0,0,0.5);

    border-radius: 0 0 3px 3px;
	
	text-shadow:var(--nav-bar-text-shadow) 1px 1px 0px;

    transition: .1s;
}

.header .nav-btn:first-child{
	border:none;
	box-shadow: none;
}

.header .nav-btn:hover {
	color:var(--text-color);
	background: var(--shadow-color);
    cursor: crosshair;
	box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
}

/*--------------------BODY--------------------------*/

.boder {
	position: relative;
	align-items: center;

    margin: 0;
    padding: 0;
}

.boder .start {
    height: 60%;
}

.part-title {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    font-weight: 700;

    text-transform: uppercase;
    letter-spacing: .075rem;

    padding: 13px;

    margin: 0 2rem 0 2rem;

    border-radius: 3px;

    background-color: var(--element-bg-color);
    color: var(--text-color);

    box-shadow: 
        0 10px 20px rgba(0,0,0,0.3),
        0 6px 6px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

#intro {
    margin-top: 15rem;

    font-family: sans-serif;
    font-size: 3em;
    font-weight: 600;

    color: var(--text-color);
}

.boder .start p {
    padding: 1em;

    font-family: sans-serif;
    font-size: 1.2em;
    text-align: center;

    margin-top: -1.7rem;

    color: var(--text2-color);
}

.boder .buttons {
    display: flex;
    justify-content: center;

    margin-top: 13em;
}

.boder .border-button {
    background: var(--text2-color);
    margin: 10px;
    padding: 15px 18px;

    text-align: center;
    text-transform: uppercase;
    position: relative;
    transition: .3s;
    z-index: 1;

    color: var(--text2-color);
    cursor: crosshair;
	border: none;
    border-radius: 3px;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: sans-serif;
    font-weight: bolder;

	background-image: repeating-linear-gradient(45deg, #242c25 12px 36px, #2c2b2b 36px 60px, #585858 60px 84px);
    color: var(--shadow-color);
    background-size: 300% 150%;
}

.boder .border-button:hover {
    background-position: 20% center;
}

.boder .border-button:active:after {
    /* width: 0; */
	transition: 69ms ease-in-out;

	width: 110%;
	height: 110%;

    border-radius: 0px;
}

.boder .border-button:after {
    content: "";
    position: absolute;
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    transform-origin: center;
    background: #c4c3c6;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 3px;

	transition: 69ms ease-in-out;
}

.oth-button {
    padding: 6px;
    margin: 0.3em;

    background-color: #585858;
    color: #c4c3c6;
    cursor: crosshair;

	border: none;
    border-radius: 3px;

    font-family: sans-serif;
    font-weight: bolder;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    text-transform: uppercase;

    transition: .3s;
}

.oth-button:hover {
    background-color: #2c2b2b;
    color: #c4c3c6;
}

.boder .space {
    height: 50%;
}

.projects-holder {
    position: absolute;
}

.projects {
    display: grid;
    justify-content: center;
    align-items: center;

    margin-top: 3rem;

    grid-template-columns: repeat(3, 33%);
    grid-template-rows: auto;

    /* margin-bottom: 15rem; */
}

#project {

    position: relative;
    transform-origin: center;

    border: 2px solid var(--element-bg-color);
    border-radius: 3px;

    /* width: 30%; */
    /* height: 30%; */

    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;

    max-width: 25rem;

    cursor: crosshair;
    transition: .1s;

    font-family: sans-serif;

    box-shadow: 
        0 10px 20px rgba(0,0,0,0.3),
        0 6px 6px rgba(0,0,0,0.2);
    transition: all 0.3s ease;

    background-color: var(--element-bg-color);
    color: var(--text2-color);
}

.hide {
    display: none;
}

.show:hover ~ .hide {
    display:contents;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#project:hover {
    border: 5px solid var(--button-color);

    box-shadow: 
        0 15px 30px rgba(0,0,0,0.4),
        0 10px 10px rgba(0,0,0,0.3);
}

#project #image {
    width: 100%;
    border-radius: 3px 3px 0 0;
}

#project #game-title {
    background-color: #242323;
    color: #d8d8d8;
    
    padding: 5px;
}

#project #date {
    float:right;

    color: #c4c3c6;
}

#project p {
    padding: 5px;
}

@media screen and (min-width: 1200px) {
    .projects {
        grid-template-columns: repeat(5, 20%);
    }
}

@media screen and (min-width: 951px) {
    .projects {
        grid-template-columns: repeat(4, 25%);

        margin: 0 1rem 0 1rem;
    }
    #project {
        /* margin-left: 3rem; */
        margin-right: 3rem;
        margin-top: 3rem;

        min-width: 15rem;
    }

    #project #image {
        height: 14rem;
    }
}

@media screen and (max-width: 950px) {
    .projects {
        grid-template-columns: repeat(3, 33%);
    }

    #project {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 2rem;

        max-width: 20rem;
    }

    #project #image {
        height: 9rem;
    }
}

@media screen and (max-width: 700px) {
    #project {
        margin-left: .5rem;
        margin-right: .5rem;
        margin-top: 1rem;

        max-width: 15rem;
    }
}

/*-------------------------------------------------------------------------*/

.boder .skills {
    /* height: 100%; */

    margin-top: 20%;
    padding-bottom: 10rem;

    /* justify-content: center; */
}

.skills .skills-title {
    font-size: 2rem;
    font-family: sans-serif;

    text-align: center;
    margin-bottom: -3rem;

    padding: 10px;

    background-color: #242323;
    color: #c4c3c6;
}

.skill-boxes {
    display: flex;
    justify-content: center;
}

.boder .skills button {
    display: flex;
    position: relative;

    max-height: 1.7rem;

    top: 35rem;
}

#skill-box {
    display: relative;
    justify-content: start;

    height: 30rem;
    width: 30%;

    margin-top: 5rem;
    margin-left: .5rem;
    margin-right: 0.5rem;

    background-color: #2c2b2b;
    color: #c4c3c6;
    
    border: 2px solid #242323;
    border-radius: 3px;
    font-family: sans-serif;

    box-shadow: 
        0 10px 20px rgba(0,0,0,0.3),
        0 6px 6px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

#skill-box p {
    background-color: #242323;
    color: #d8d8d8;
}

.skills ul {
    padding: 1rem;
    list-style-type: square;
    list-style-position: inside;
}

.title {
    font-size: 1.1rem;
    padding: .5rem;
}

@media screen and (min-width: 651px) {
    .header .title {
        font-size: 4em;
    }
}

@media screen and (max-width: 650px) {
    .header .title {
        font-size: 3em;
    }
    .tabs {
        --tab-width: 70px;
        --tab-font-size: .8rem;
    }
}

.footer {
    display: flex;
    background-color: #2c2b2b;

    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3);

    height: 25rem;
}

.footer .cpright {
    margin: auto;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.footer p {
    font-family: sans-serif;
    font-size: .7em;

    color: #d8d8d8;
}

.contact {
    margin: auto;
    font-weight: 550;
}

#text {
    margin: auto;

    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.btn3 {
    position: relative;

    margin: auto;

    width: 2.5em;
    height: 2.5em;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: #d8d8d8;
    transition: .3s all;
}
  
.btn3:hover {
    background-color: black;
}
  
.btn3:hover .git {
    fill: white;
}